{% load url from future %} {# required for django-1.5 forwards-compatibility #}
<div class="person-info">
    <span style="float: left;">
        <p class="info-item">{{ person.full_name }} {{ person.format_yr }}</p>
        <p class="info-item"><a class="mailto" href="mailto:{{ person.email }}">{{ person.email }}</a></p>
        <p class="info-item">{{ person.su }} S.U.</p>
        {% if person.phone != "Unknown" %}
            <p class="info-item"><a class="mailto" href="tel:207-{{ person.phone }}">&#9742; {{ person.phone }}</a></p>
        {% else %}
            <p class="info-item">&#9742; Unknown</p>
        {% endif %}
        <p class="info-item">{{ person.apt }}</p>
    </span>

    {% if person.img_url %}
    <img class="person-picture" src="{{ person.img_url }}"></img>
    {% endif %}
</div>
