{% load staticfiles %}
{% load url from future %} {# required for django-1.5 forwards-compatibility #}
{% load compress %}
{% load search_tags %}
<html>
<head>
    {% static_head %}
    
    {# {% compress css %} #}
    <link rel="stylesheet" type="text/css" href="https://oracleapp.s3.amazonaws.com/css/my.css"/>
    {# {% endcompress %} #}
    {# {% compress js %} #}
    <script src="http://oracleapp.s3.amazonaws.com/js/jquery.js" type="text/javascript"></script>
    <script src="http://oracleapp.s3.amazonaws.com/js/my.js" type="text/javascript"></script>
    {# {% endcompress %} #}
</head>

<body>
    <div class="wrapper unhighlightable">
        <div class="header">
            <a class="home" href="http://direct.bjacobel.com"><div class="logo"></div></a>
        </div>
        <div class="logout">
            <a class="subtle-link" href="/legal/">About</a>
            &nbsp;
            <a class="subtle-link" href="/logout/">Logout</a>
        </div>
        <div class="search-box">
            <form class="search-form" autocomplete="off">
                <input type="text" name="q" class="search-textarea" autocomplete="off" spellcheck="false" placeholder="Search for a name, place, or email"/>
            </form>
        </div>
        <div class="search-results">
            <ul class="results-list"></ul>
        </div>
    </div>
</body>
</html>