{% load staticfiles %}
{% load url from future %} {# required for django-1.5 forwards-compatibility #}
{% load compress %}
<html>
    <head>
        <title>PRISM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}"/>
        {% endcompress %}
        {% compress js %}
        <script src="{% static 'js/jquery.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/my.js' %}" type="text/javascript"></script>
        {% endcompress %}
    </head>

    <body>
        <h1>PRISM</h1>
        <div class="search box">
            <form id="search-form" class="search form">
                    <p class="search label">Search for people, places, and emails: </p>
                    <input type="text" name="q" class="search textarea" />
                    <input class="search button" type="submit" value="Search" />
                {# {% csrf_token %} #}
            </form>
        </div>

        <ul class="search-results">
        </ul>

        <!-- {% if all_people %}
            <ul class="personlist">
            {% for person in all_people %}
                <li><a href="{% url 'detail' person.id %}">{{ person.full_name }}</a></li>
            {% endfor %}
            
        {% else %}
            <p>Error: Database empty.</p>
        {% endif %} -->
    </body>

</html>