{% load url from future %} {# required for django-1.5 forwards-compatibility #}
{% load search_tags %}

<ul class="results-list">
{% if search_results %}
    {% for person in search_results %}
        <li class="result-item" op="{% map_opacity forloop.counter %}" id="{{ person.id }}">
            <span class="name">{{ person.shortname_yr }}</span>
            <span class="su">{{ person.su }} S.U. </span>
            <span class="email">{{ person.email }}</span>
            <span class="apt">{{ person.apt }}</span>
        </li>
    {% endfor %}
{% endif %}
</ul>