html {
    -webkit-font-smoothing: antialiased;
    font-family:"Lato Regular", sans-serif;
}

body {
    margin:0;
}

ul {
    list-style-type: none;
    padding:0;
}

.unhighlightable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.light {
    font-weight:300;
    font-weight:lighter;
}
.bold {
    font-weight:700;
    font-weight:bolder;
}

.wrapper {
    height:100%;
    width:100%;
    overflow:hidden;
}

.header {
    position:relative;
    height:14%;
    width:100%;
    margin:2% 0;
}

.logo {
    position:relative;
    width:35%;
    height:100%;
    margin:0 auto;
    background-image:url('https://oracleapp.s3.amazonaws.com/img/logo.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.search-box {
    position:absolute;
    width: 100%;
    text-align: center;
    height:7%;
    min-height: 40px;
}

.search-form {
    position:relative;
    width:80%;
    height:100%;
    display: inline-block;
}

.search-textarea {
    /* purecss.io styles */
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 1.8em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-transition: 0.2s linear border;
    -moz-transition: 0.2s linear border;
    -ms-transition: 0.2s linear border;
    -o-transition: 0.2s linear border;
    transition: 0.2s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width:100%;
    height:100%;
}

.search-textarea:focus {
    outline:none;
    border: 1px solid #3498DB;
}

.search-results {
    position:relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width:100%;
    height:70%;
    top:10%;
}

ul.results-list {
    width:75%;
    margin:0 auto;
}

li.result-item {
    font-weight:400;
    font-size:18px;
    color:black;
    width:100%;
    display:block;
    cursor:hand;
    margin:8px 0;
    overflow: auto;
}
li.result-item:hover {
    opacity:1.0;
    color:#2980B9;
}

/* for legal page */
.non-responsive-content {
    width:700px;
    margin:0 auto;
    height:78%;
    top:22%;
    display:block;
    position:relative;
}

.login{
    width: 25%;
    margin: 0 auto;
}

.login p{
    text-align: center;
}

.login input{
    position: relative;
    width: 90%;
    left: 5%;
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 1.4em;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
}

.logout {
    text-align: center;
    margin-bottom: 20px;
}


.legal {
    word-wrap:break-word;
    text-indent:25px;
    font-size:17px;
    line-height:140%
}
.direct {
    margin:auto 0;
    font-size:16px;
    font-weight:bold;
}
a.mailto {
    text-decoration:none;
    color:#34495E;
}
a.mailto:hover{
    color:#2980B9;
}
a.subtle-link {
    color:#34495E;
    text-decoration:none;
}
a.subtle-link:hover{
    border-bottom: 1px #34495E dotted;
}

/* span elements */
span {
    margin:0 3px;
    white-space:nowrap;
    overflow:hidden;
}
.name, .su. .email. .apt {
    position:absolute;
}
.name {
    /* For some reason this makes the other columns reset correctly after
       collapsing the person-info box. */
    float: left;
}
.su {
    position: absolute;
    left:32%;
}
.email {
    position: absolute;
    left:44%;
}
.apt {
    position: absolute;
    right:12%;
    text-align:right;
}

/* detail elements */
.info-item {
    width:100%;
    margin: 0 15px 15px 0;
    color:black;
}
.person-info {
    display:block;
    clear:both;
    overflow: auto;
    padding:15px;
    padding-bottom: 0;
    margin-bottom: 20px;
    border: 1px solid rgba(100,100,100,0.5);
    border-radius:5px;
}

.person-picture {
    float:right;
    height:165px;
}
@media (max-width: 950px) {
    .su {
        display: none;
    }
}

@media (max-width: 800px) {
    .email {
        display: none;
    }
    .logo {
        width:40%;
    }
}

@media (max-width: 520px) {
    .apt {
        display: none;
    }
    .logo {
        width:50%;
    }

    .login{
        width: 100%;
    }

    .login input{
        position: relative;
        width: 90%;
        left: 5%;
        padding: 0.5em 0.6em;
        display: inline-block;
        border: 1px solid #ccc;
        font-size: 1.4em;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
    }

    .login p{
        text-align: center;
    }
}
